@model PagedList.IPagedList<ExchangeApp.Models.Subject>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="interior site">
        <div>
            <a href="@Url.Action("Index", "Admin" )" title="Back" style="font-size: 25px;"><i class="icon ion-android-arrow-dropleft-circle"></i></a>
            <a href="#"><button class="primary btn-create" type="submit" onclick="AddEditSubject(0)">Add new</button></a>
        </div>
        <div class="table">
            <div class="row header">
                <div class="cell">
                    Subject name
                </div>
                <div class="cell">
                    Degree Level
                </div>
                <div class="cell">
                    College/University
                </div>
                <div class="cell">
                    Actions
                </div>
            </div>

            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.DegreeLevelObj.Name)
                    </div>
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.FacultyObj.Name)
                    </div>
                    <div class="cell-act">
                        <a onclick="AddEditSubject(@item.ID)" title="Edit"><i class="icon ion-ios-compose-outline"></i></a> |
                        <a onclick="DeleteSubject(@item.ID)" title="Delete"><i class="icon ion-ios-trash-outline"></i></a>
                    </div>
                </div>

            }
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm " role="document">
                    <div class="modal-content">
                        <div class="modal-header pd-5">
                            <h4 class="modal-title" id="myModalLabel">Confirmation dialog</h4>
                        </div>
                        <div class="modal-body pd-10">
                            Are you sure you want to delete this subject?
                        </div>
                        <div class="modal-footer pd-0">
                            <div>
                                <div class="col-lg-6 col-md-10 mt-20">
                                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                                <div class="col-lg-6 col-md-10 mt-20">
                                    <button class="btn btn-danger" type="submit" onclick="ConfirmDelete()">Delete</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editModal">
                <div class="modal-dialog modal-md " role="document">
                    <div class="modal-content">
                        <div class="modal-header pd-5">
                            <h4 class="modal-title" id="myModalLabel">Add/Edit subject</h4>
                        </div>
                        <div class="modal-body pd-10" id="editModalBody">

                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="hiddenId" />
        </div>
        <div class="custom-pag" style="text-align:center;">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
    @section scripts {
        <script>
            var AddEditSubject = function (subjectId) {
                var url = "/Subjects/AddEditSubject?subjectId=" + subjectId

                $("#editModalBody").load(url, function () {
                    $("#editModal").modal("show");
                })
            }

            var DeleteSubject = function (subjectId) {
                $("#deleteModal").modal("show");
                $("#hiddenId").val(subjectId)
            }

            var ConfirmDelete = function () {
                var subjectId = $("#hiddenId").val();

                $.ajax({
                    type: "POST",
                    url: "/Subjects/DeleteSubject",
                    data: { id: subjectId },
                    success: function (data) {
                        $("#deleteModal").modal("hide");
                        window.location.href = "/Subjects/Index"
                    }
                });
            }
        </script>
    }
