@model ExchangeApp.Models.FacultiesViewModel

@{
    ViewBag.Title = "Home Page";
}
<div id="home-page">
    <div id="main-content" class="super" role="main">
        <h1 style="position:absolute; left:-999em;">Career Center</h1>

        <section id="hero" class="site" aria-label="Hero">


            @*<div class="site-name-tag"> <div style="padding:5px; background-color:#E7EEFA"><h2>ACBSP Career Center<br>Connecting Talent with Opportunity</h2></div>  </div>*@

            <div id="job-search-form" class="clearfix" role="search">
                @Html.Partial("../Shared/_SearchPartial", new ExchangeApp.Models.SearchViewModel())
            </div>
        </section>


        <section id="featured-jobs" class="site" aria-label="Featured Colleges/Universities">
            <div class="category-header">
                <h2> Featured Faculties <span><i class="dotted-rule"></i></span> </h2>
            </div>

            <div class="interior clearfix">

                <div id="featured-job-listing" class="clearfix">
                    <ul>
                        @if (ViewBag.LinkToOther == "Faculty")
                        {
                            foreach (var item in Model.StudentsPlaces)
                            {
                                <li>
                                    @if (item.IsFeatured.HasValue && item.IsFeatured.Value)
                                    {
                                        <div class="job-summary-top clearfix" style="float:right;">

                                            <span class="featured" style="font-size:12px;">
                                                <img src="~/Content/images/star.png" class="feat-home"/> <b>Featured</b>
                                            </span>

                                        </div>

                                    }

                                    <a href='@Url.Action("Index", "Student", new { id = item.ID })'>

                                        <h3>@item.Name</h3>

                                    </a>
                                    <span>School program: <strong style="font-size:1em;">@item.Program</strong></span>
                                    <span style=" padding-left: 5px; padding-right:5px;">
                                        <img src="~/Content/images/pin.png" style="padding-top:8px; width:25px; height:25px;" /> <b style="font-size:1em;">@item.CountryObj.Name, @item.CountryObj.RegionObj.Name</b>
                                    </span>

                                </li>
                            }
                        }
                        else
                        {
                            foreach (var item in Model.TeacherPlaces)
                            {
                                <li>
                                    @if (item.IsFeatured.HasValue && item.IsFeatured.Value)
                                    {
                                        <div class="job-summary-top clearfix">

                                            <span style=" padding-left: 5px; padding-right:5px; border-color:orange; border-style:solid; border-width:thin; border-radius:3px;">
                                                <img src="~/Content/images/star.png" style="width:12px; height:12px;" /> <b>Featured</b>
                                            </span>

                                        </div>
                                    }

                                    <a href='@Url.Action("Index", "Student", new { id = item.ID })'>

                                        <h3>@item.Name</h3>

                                    </a>
                                    <span>School program: <strong style="font-size:1em;">@item.Program</strong></span>
                                    <span style=" padding-left: 5px; padding-right:5px;">
                                        <img src="~/Content/images/pin.png" style="padding-top:8px; width:25px; height:25px;" /> <b style="font-size:1em;">@item.CountryObj.Name, @item.CountryObj.RegionObj.Name</b>
                                    </span>


                                </li>
                            }
                        }

                    </ul>
                    <a class="secondary clearfix" href='@Url.Action("ListFaculties", "Home")'>View All</a>
                </div>



                <div class="featured-job-promo">

                </div>

            </div>


        </section>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            <script>
    var url = '@Url.Action("getCountries", "Home")';
    var countries = $('#CountryId');
        function CallChangeFunc(val) {
        countries.empty();
            var id = val;
            $.getJSON(url, { regionId: id }, function (response) {
                $.each(response, function (index, item) {
                    $('#CountryId').append('<option value=' + item.ID + '>' + item.Name + '</option > ');
                });
            });

    }
            </script>
        }
