@model ExchangeApp.Models.FacultiesViewModel

@{
    ViewBag.Title = "Home Page";
}
<div id="home-page">
    <div id="main-content" class="super" role="main">
        <h1 style="position:absolute; left:-999em;">Career Center</h1>

        <section id="hero" class="site" aria-label="Hero">


            @*<div class="site-name-tag"> <div style="padding:5px; background-color:#E7EEFA"><h2>ACBSP Career Center<br>Connecting Talent with Opportunity</h2></div>  </div>*@

            <div id="job-search-form" class="clearfix" role="search">
                @Html.Partial("../Shared/_SearchPartial", new ExchangeApp.Models.SearchViewModel())
            </div>
        </section>


        <section id="featured-jobs" class="site" aria-label="Featured Faculties">
            <div class="category-header">
                <h2> Featured Faculties <span><i class="dotted-rule"></i></span> </h2>
            </div>

            <div class="interior clearfix">

                <div id="featured-job-listing" class="clearfix">
                    <ul>
                        @if (ViewBag.LinkToOther == "Faculty")
                        {
                            foreach (var item in Model.StudentsPlaces)
                            {
                                <li>

                                    <a href='@Url.Action("Index", "Student", new { id = item.ID })'>

                                        <h3>@item.Name</h3>

                                    </a>
                                    <strong>@item.Program</strong>
                                    <em>@item.StudentPlacesAvailable</em>



                                    <input type="hidden" value="39943096" class="ga_job_id">
                                    <input type="hidden" value="1" class="ga_rank">
                                </li>


                            }
                        }
                        else
                        {
                            foreach (var item in Model.TeacherPlaces)
                            {
                                <li>

                                    <a href='@Url.Action("Index", "Student", new { id = item.ID })'>

                                        <h3>@item.Name</h3>

                                    </a>
                                    <strong>@item.Program</strong>
                                    <em>@item.FacultyPlacesAvailable</em>


                                    <input type="hidden" value="39577282" class="ga_job_id">
                                    <input type="hidden" value="1" class="ga_rank">
                                </li>
                            }
                        }

                    </ul>
                    <a class="secondary clearfix" href='@Url.Action("ListFaculties", "Home")'>View All</a>
                </div>



                <div class="featured-job-promo">
                    <div class="sideboard-adspace">
                        <div class="job-alert-signup">
                            <span class="h5">
                                Résumé  Review

                            </span>
                            <div>

                                <em>

                                    Improve your résumé with a free review

                                </em>
                            </div>

                            <a href="/c/resumes/edit/upload.cfm?site_id=22669" class="tertiary">Upload Résumé</a>

                        </div>
                    </div>
                </div>

            </div>

            @*<div class="default-form-box clearfix">
                    id="featured-job-listing"
                    <div class="login">
                        <strong>Student places available</strong>
                        <div id="featured-job-listing">

                            <ul>
                                @foreach (var item in Model.StudentsPlaces)
                        {
                            <li>

                                <a href='@Url.Action("Index", "Student", new { id = item.ID })'>

                                    <h3>@item.Name</h3>

                                </a>
                                <strong>@item.Program</strong>
                                <em>@item.StudentPlacesAvailable</em>


                                <input type="hidden" value="39577282" class="ga_job_id">
                                <input type="hidden" value="1" class="ga_rank">
                            </li>
                }

                            </ul>
                        </div>
                    </div>
                    <div class="new-account">
                        <strong> Faculty places available</strong>
                        <div id="featured-job-listing">
                            <ul>
                                @foreach (var item in Model.TeacherPlaces)
                        {
                            <li>

                                <a href='@Url.Action("Index", "Student", new { id = item.ID })'>

                                    <h3>@item.Name</h3>

                                </a>
                                <strong>@item.Program</strong>
                                <em>@item.FacultyPlacesAvailable</em>


                                <input type="hidden" value="39577282" class="ga_job_id">
                                <input type="hidden" value="1" class="ga_rank">
                            </li>
                }

                            </ul>
                        </div>
                    </div>
                </div>*@

        </section>
        <section id="featured-services" class="site" aria-label="Featured Services">
            <div class="category-header site">
                <h2>
                    Featured Services
                </h2>
            </div>
            <div class="interior site">
                <div class="queryTest"></div>
                <ul id="featured-services-carousel">
                    @*class="owl-carousel owl-theme owl-loaded owl-drag"*@
                    @*<div class="owl-stage-outer">*@
                    @* <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 970px;">*@
                    @*<div class="owl-item active" style="width: 313.333px; margin-right: 10px;">*@
                    <li style="display:inline-block;">
                        <span class="h5">
                            Career Resources
                        </span>
                        <a aria-label="Career Resources" href="http://careerwebsite.com/jobseeker/resources/?site_id=22669" target="_blank"><img src="~/Content/css/images/FeaturedServices_Resources.jpg" alt=""></a>
                    </li>
                    <li style="display:inline-block;">
                        <span class="h5">
                            Become a Member
                        </span>

                        <a aria-label="Become a Member" href="http://www.acbsp.org/?page=join" target="_blank"><img src="~/Content/css/images/FeaturedServices_Memberhsip2.JPG" alt=""></a>
                    </li>
                    <li style="display:inline-block;">
                        <span class="h5">
                            Search Resumes
                        </span>
                        <a aria-label="Search Resumes" href="http://careerwebsite.com/employer/resumes/bank/?site_id=22669" target="_blank"><img src="~/Content/css/images/featured2.jpg" alt=""></a>
                    </li>
                    @*</div><div class="owl-item active" style="width: 313.333px; margin-right: 10px;">

                        </div><div class="owl-item active" style="width: 313.333px; margin-right: 10px;">*@

                    @*</div>*@
                    @*</div>*@
                    @*</div>*@
                    @*<div class="owl-nav disabled"><div class="owl-prev disabled"><em class="fa fa-angle-left"></em></div><div class="owl-next disabled"><em class="fa fa-angle-right"></em></div></div>
                        <div class="owl-dots disabled"><div class="owl-dot active"><span></span></div></div>*@
                </ul>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    var url = '@Url.Action("getCountries", "Home")';
    var countries = $('#CountryId');
        function CallChangeFunc(val) {
        countries.empty();
            var id = val;
            $.getJSON(url, { regionId: id }, function (response) {
                $.each(response, function (index, item) {
                    $('#CountryId').append('<option value=' + item.ID + '>' + item.Name + '</option > ');
                });
            });

    }
    </script>
}