@*@model IEnumerable<ExchangeApp.Models.Faculty>*@
@model PagedList.IPagedList<ExchangeApp.Models.Faculty>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ListFaculties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content" class="super">
    <div class="interior site">

        <section id="inner-page-header" class="clearfix" aria-label="Page Header">
            <div class="site-name-tag">
                <h1>ACBSP Mobility program</h1>
            </div>

            <div id="job-search-form" class="clearfix" role="search">
                @Html.Partial("_SearchPartial", (ExchangeApp.Models.SearchViewModel)ViewBag.SearchViewModel)
            </div>

        </section>

        <div class="breadcrumbs" role="navigation">
            <ol>
                <li><a href='@Url.Action("Index", "Home")'>ACBSP Mobility Home</a></li>
                <li class="">Schools list</li>
            </ol>
        </div>
        <div class="clearfix results-content">
            <aside aria-label="refine search">
                <div class="filters">
                    <p class="clearfix"> Additional search options: </p>
                    <fieldset>
                        @using (Html.BeginForm("ListFaculties", "Home", new { SearchKeyword = ViewBag.CurrentFilter, CountryId = ViewBag.CurrentCountry }, FormMethod.Post))
    {
                    @Html.AntiForgeryToken()
                    <span class="h5">Find places for</span>

                    <div style="display:flex; flex-wrap: wrap;">
                        <span style=" padding-left: 5px; padding-right:5px; border-color:orange; border-style:solid; border-width:thin; border-radius:3px;">
                            @Html.CheckBox("StudentSelected", ((bool?)ViewBag.CurrentStudent).HasValue ? ((bool?)ViewBag.CurrentStudent).Value : false)
                            @Html.Label("STUDENT")
                        </span>
                        &nbsp;&nbsp;&nbsp;
                        <span style=" padding-left: 5px; padding-right:5px; border-color:orange; border-style:solid; border-width:thin; border-radius:3px;">
                            @Html.CheckBox("FacultySelected", ((bool?)ViewBag.CurrentFaculty).HasValue ? ((bool?)ViewBag.CurrentFaculty).Value : false)
                            @Html.Label("FACULTY")
                        </span>
                    </div>
                    <hr />
                    <legend style="position: absolute;left: -999em;">Study program</legend>
                    <span class="h5">Study program</span>
                    <p class="clearfix"> Suggestions: </p>
                    <span>
                        @foreach (var item in ViewBag.Programs)
    {
                    <strong style=" padding-left: 5px; padding-right:5px; border-color:orange; border-style:solid; border-width:thin; border-radius:3px;"> @item </strong>
}
                    </span>
                    <p class="clearfix"></p>

                    @Html.TextBox("SearchProgram", (string)ViewBag.CurrentProgram, new { placeholder = "Enter program keyword", type = "search", maxlength = "500" })
                    <p class="clearfix"></p>
                    <button class="primary primary-applied" type="submit">Search</button>
}

                    </fieldset>
                </div>
            </aside>
            <section id="job-listing" aria-label="Job Listings" role="main">
                <div class="listing-options clearfix">
                </div>
                <div class="listings">
                    <ul>
                        @foreach (var item in Model)
                        {
                            <li>
                                <div class='job-summary'>
                                    @if (item.IsFeatured.HasValue && item.IsFeatured.Value)
    {
                                <div class="job-summary-top clearfix">

                                    <span style=" padding-left: 5px; padding-right:5px; border-color:orange; border-style:solid; border-width:thin; border-radius:3px;">
                                        <img src="~/Content/images/star.png" style="width:12px; height:12px;" /> <b>Featured</b>
                                    </span>

                                </div>
}

                                    <a href='@Url.Action("Index", "Student", new { id = item.ID })'>

                                        <h3 style="padding-top:20px;">@item.Name</h3>

                                    </a>
                                    <span>School program: <strong style="font-size:1em;">@item.Program</strong></span>
                                    <div style=" padding-left: 15px; padding-right:5px;">
                                        <img src="~/Content/images/pin.png" style="padding-top:8px; width:25px; height:25px;" /> <b style="font-size:1em;">@item.CountryObj.Name, @item.CountryObj.RegionObj.Name</b>
                                    </div>
                                    <div>
                                        <p></p>
                                    </div>
                                    <div>
                                        <p style="font-style:italic;">Posted: @item.Registered.Value.ToShortDateString()</p>
                                    </div>

                                <input type="hidden" value=39431667 class="ga_job_id">
                                <input type="hidden" value=1 class="ga_rank">
                                    </div>
                            </li>
                        }
                    </ul>
                </div>
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("ListFaculties",
             new { page, currentFilter = ViewBag.CurrentFilter, currentCountry = ViewBag.CurrentCountry,currentProgram = ViewBag.CurrentProgram, currStud = ViewBag.CurrentStudent, currFac = ViewBag.CurrentFaculty}))
            </section>

        </div>
    </div>




</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    var url = '@Url.Action("getCountries", "Home")';
    var countries = $('#CountryId');
        function CallChangeFunc(val) {
        countries.empty();
            var id = val;
            $.getJSON(url, { regionId: id }, function (response) {
                $.each(response, function (index, item) {
                    $('#CountryId').append('<option value=' + item.ID + '>' + item.Name + '</option > ');
                });
            });
    }
    </script>
}