@model ExchangeApp.Models.Faculty

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="interior site">
        <div>
            <div>
                <a href="@Url.Action("Index", "Faculties")" title="Back" style="font-size: 25px;"><i class="icon ion-android-arrow-dropleft-circle"></i></a>
                <span class="fax-title">@Html.DisplayFor(model => model.Name)</span>
                <a href="@Url.Action("Edit", "Faculties", new { id = Model.ID })" class="fr"><button class="primary" type="submit">Edit</button></a>
            </div>
            <div class="tab-content mt-20">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="details" style="vertical-align: middle"><i class="fa fa-user"></i>Logo</td>
                            <td>
                                @if (Model.LogoImage != null)
                                {
                                    <img style="max-height: 100px" src="data:image;base64,@System.Convert.ToBase64String(Model.LogoImage)" />
                                }
                                else
                                {
                                    <img style="max-height: 100px" src="~/Content/images/No_Image_Available.jpg" />

                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="details"><i class="fa fa-user"></i>Country</td>
                            <td>@Html.DisplayFor(model => model.CountryObj.Name)</td>
                        </tr>
                        <tr>
                            <td class="details"><i class="fa fa-user"></i>Program</td>
                            <td>@Html.DisplayFor(model => model.Program)</td>
                        </tr>
                        <tr>
                            <td class="details"><i class="fa fa-group"></i>@Html.DisplayNameFor(model => model.Email)</td>
                            <td>@Html.DisplayFor(model => model.Email)</td>
                        </tr>
                        <tr>
                            <td class="details"><i class="fa fa-calendar"></i>  @Html.DisplayNameFor(model => model.Website)</td>
                            <td>@Html.DisplayFor(model => model.Website)</td>
                        </tr>
                        <tr>
                            <td class="details"><i class="fa fa-group"></i>@Html.DisplayNameFor(model => model.DateOfMatriculation)</td>
                            <td>@Html.DisplayFor(model => model.DateOfMatriculation)</td>
                        </tr>
                        <tr>
                            <td class="details"><i class="fa fa-group"></i>@Html.DisplayNameFor(model => model.AccreditationNumber)</td>
                            <td>@Html.DisplayFor(model => model.AccreditationNumber)</td>
                        </tr>
                        <tr>
                            <td class="details"><i class="fa fa-group"></i>@Html.DisplayNameFor(model => model.DateOfAccreditation)</td>
                            <td>@Html.DisplayFor(model => model.DateOfAccreditation)</td>
                        </tr>
                        <tr>
                            <td rowspan="5" class="details" style="vertical-align: middle"><i class="fa fa-group"></i>Student</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-group"></i>Type of exchange: @Html.DisplayFor(model => model.StudentTypeOfExchangeObj.Name)</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-group"></i>Places Available: @Html.DisplayFor(model => model.StudentPlacesAvailable)</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-group"></i>Application Date: @Html.DisplayFor(model => model.StudentApplicationDate)</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-group"></i>Enrollment Date: @Html.DisplayFor(model => model.StudentEnrollmentDate)</td>
                        </tr>

                        <tr>
                            <td rowspan="5" class="details" style="vertical-align: middle"><i class="fa fa-group"></i>Faculty</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-group"></i>Type of exchange: @Html.DisplayFor(model => model.FacultyTypeOfExchangeObj.Name)</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-group"></i>Places Available: @Html.DisplayFor(model => model.FacultyPlacesAvailable)</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-group"></i>Application Date: @Html.DisplayFor(model => model.FacultyApplicationDate)</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-group"></i>Enrollment Date: @Html.DisplayFor(model => model.FacultyEnrollmentDate)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
