
@model PagedList.IPagedList<ExchangeApp.Models.Faculty>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="interior site">
        <div>
            <a href="@Url.Action("Index", "Admin" )" title="Back" style="font-size: 25px;"><i class="icon ion-android-arrow-dropleft-circle"></i></a>
            <a href="@Url.Action("Create", "Faculties")"><button class="primary btn-create" type="submit">Add new</button></a>
        </div>
        <div class="table">
            <div class="row header">
                <div class="cell">
                    College/University 
                </div>
                <div class="cell">
                    Program
                </div>
                <div class="cell">
                    Country/State
                </div>
                <div class="cell">
                    Actions
                </div>
            </div>

            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.Program)
                    </div>
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.Email)
                    </div>
                    <div class="cell-act">
                        <a href="@Url.Action("Edit", "Faculties", new { id = item.ID })" title="Edit"><i class="icon ion-ios-compose-outline"></i></a> |
                        <a href="@Url.Action("Details", "Faculties", new { id = item.ID })" title="Details"><i class="icon ion-ios-list-outline"></i></a> |
                        <a onclick="DeleteFaculty(@item.ID)" title="Delete"><i class="icon ion-ios-trash-outline"></i></a>
                    </div>
                </div>

            }

            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm " role="document">
                    <div class="modal-content">
                        <div class="modal-header pd-5">
                            <h4 class="modal-title" id="myModalLabel">Confirmation dialog</h4>
                        </div>
                        <div class="modal-body pd-10">
                            Are you sure you want to delete this college/university?
                        </div>
                        <div class="modal-footer pd-0">
                            <div>
                                <div class="col-lg-6 col-md-10 mt-20">
                                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                                <div class="col-lg-6 col-md-10 mt-20">
                                    <button class="btn btn-danger" type="submit" onclick="ConfirmDelete()">Delete</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-pag" style="text-align:center;">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>

        <input type="hidden" id="hiddenId" />
    </div>
    @section scripts {
        <script>
            var DeleteFaculty = function (facultyId) {
                $("#deleteModal").modal("show");
                $("#hiddenId").val(facultyId)
            }

            var ConfirmDelete = function () {
                var facultyId = $("#hiddenId").val();
                debugger;
                $.ajax({
                    type: "POST",
                    url: "/Faculties/DeleteFaculty",
                    data: { id: facultyId },
                    success: function (data) {
                        $("#deleteModal").modal("hide");
                        window.location.href = "/Faculties/Index"
                    }
                });
            }
        </script>
    }
