
@using ExchangeApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="interior site">
                <div class="default-form-box clearfix">
                    <form class="clearfix" id="register_form" method="post" action="/jobseeker/login/?goto=%2Fjobseeker%2Fmy%2Daccount%2F">
                        <section class="js-information form-fields no-padding clearfix">
                            <div class="form-group">
                                <div class="col-md-offset-4 col-lg-4 col-md-10">
                                    <label>
                                        Username
                                        <sup>*</sup>
                                    </label>
                                    <div class="single-input">
                                        @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { placeholder = "Enter your username", @class = "single-input" } })
                                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-4 col-lg-4 col-md-10">
                                    <label>
                                        Password
                                        <sup>*</sup>
                                    </label>
                                    <div class="single-input">
                                        @Html.EditorFor(m => m.Password, new { htmlAttributes = new { placeholder = "Enter your password", type = "password" } })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </section>
                        <input type="hidden" name="register" value="1">
                        <div class="col-md-offset-4 col-lg-4 col-md-10">
                            <div style="float:right">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                            <em><sup>*</sup>Required field</em>
                            <button type="submit" class="primary" id="new-account-button" value="Log in" style="margin-top: 20px;">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</body>
</html>

@section Scripts { @Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/toastr")
@Html.Partial("_Toastr")
@Scripts.Render("~/bundles/bootstrap")
}