@model ExchangeApp.Models.StudentViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="job-view-page">
    <div id="main-content" class="super" role="main">
        <div class="interior site">
            <section id="inner-page-header" class="clearfix">
                <div class="site-name-tag">
                    <h1>@Model.Faculty.Name</h1>
                </div>
                <div id="job-search-form" class="clearfix" role="search">
                    @Html.Partial("../Shared/_SearchPartial", new ExchangeApp.Models.SearchViewModel())
                </div>
            </section>
            <div class="breadcrumbs site" role="navigation">
                <ol>
                    <li><a href="#">Mobility</a></li>
                    <li><a href="#">University</a></li>
                    <li>@Model.Faculty.Name</li>
                </ol>
            </div>
            <div class="clearfix">
                <section id="job-detail-view">
                    <div class="top-info">

                        <div class="title-CTA-tools clearfix">
                            <em><a class="inactive tooltip tooltipstered">University of Indianapolis</a></em>
                            <a id="applyBtn" class="primary ga_apply">Apply Now</a>
                        </div>
                    </div>
                    <div class="description-text">
                        <div class="generic-details-text">
                            <span class="h5">Description</span>
                            <p>@Model.Faculty.Description</p>
                        </div>
                    </div>
                    <div class="job-data-contain">
                        <div class="job-data-basics clearfix">
                            <ul>
                                <li class="clearfix">
                                    <label>Location:</label>
                                    <span>
                                        @Model.Faculty.CountryObj.Name, @Model.Faculty.CountryObj.RegionObj.Name
                                    </span>
                                </li>
                                <li class="clearfix">
                                    <label>University ID:</label>
                                    <span>39576895</span>
                                </li>
                                <li class="clearfix">
                                    <label>E-mail:</label>
                                    <span>@Model.Faculty.Email</span>
                                </li>
                                <li class="clearfix">
                                    <label>Website:</label>
                                    <span>@Model.Faculty.Website</span>
                                </li>
                                <li class="clearfix">
                                    <label>Date of Matriculation: </label>
                                    <span>@Model.Faculty.DateOfMatriculation</span>
                                </li>
                                <li class="clearfix">
                                    <label>Date of Accreditation: </label>
                                    <span>@Model.Faculty.DateOfAccreditation</span>
                                </li>
                                <li class="clearfix">
                                    <label>Accreditation Number:</label>
                                    <span>@Model.Faculty.AccreditationNumber</span>
                                </li>
                                <li class="clearfix">
                                    <label>Student Type of Exchange:</label>
                                    <span>@Model.Faculty.StudentTypeOfExchangeObj.Name</span>
                                </li>
                                <li class="clearfix">
                                    <label>Student Places Available:</label>
                                    <span>@Model.Faculty.StudentPlacesAvailable</span>
                                </li>
                            </ul>
                            <ul class="company-contact"></ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="app-form">
            <div class="interior site">
                <div class="default-form-box clearfix">
                    <div class="">
                        <strong>Create your application</strong>
                        @using (Html.BeginForm("SendApplication", "Student", FormMethod.Post, new { enctype = "multipart/form-data", facultyMail = Model.Faculty.Email }))
                        {
                            <section class="js-information form-fields no-padding clearfix">
                                <fieldset class="name">
                                    <legend style="position: absolute;left: -999em;">First Name</legend>
                                    <label>
                                        First Name
                                        <sup>*</sup>
                                    </label>
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { placeholder = "Enter your first name" } })

                                    @* <input aria-label="First Name" type="text" name="first_name" placeholder="Enter your first name">*@
                                </fieldset>

                                <fieldset class="name">
                                    <legend style="position: absolute;left: -999em;">Last Name</legend>
                                    <label>
                                        Last Name
                                        <sup>*</sup>
                                    </label>
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { placeholder = "Enter your last name" } })
                                    @*   <input aria-label="Last Name" type="text" name="last_name" placeholder="Enter your last name">*@
                                </fieldset>

                                <fieldset class="email">
                                    <legend style="position: absolute;left: -999em;">Email Address</legend>
                                    <label>
                                        Email Address
                                        <sup>*</sup>

                                    </label>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Enter your email address" } })
                                    @*   <input aria-label="Email Address" type="email" name="email" placeholder="Enter your email address">*@
                                </fieldset>

                                <fieldset class="email">
                                    <legend style="position: absolute;left: -999em;">Email Address</legend>
                                    <label>
                                        Email Address password
                                        <sup>*</sup>

                                    </label>
                                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { placeholder = "Enter your password", type = "password" } })
                                    @*   <input aria-label="Email Address" type="email" name="email" placeholder="Enter your email address">*@
                                </fieldset>
                                @Html.HiddenFor(m => m.Faculty.Email)
                                @Html.HiddenFor(m => m.Faculty.ID)

                                <fieldset class="email">
                                    <legend style="position: absolute;left: -999em;">Nationality</legend>
                                    <label>
                                        Nationality
                                    </label>
                                    @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { placeholder = "Enter your nationality" } })
                                    @*   <input aria-label="Email Address" type="email" name="email" placeholder="Enter your email address">*@
                                </fieldset>
                                <fieldset class="name">
                                    <legend style="position: absolute;left: -999em;">Country of Origin</legend>
                                    <label>
                                        Country of Origin
                                        <sup>*</sup>
                                    </label>
                                    @Html.DropDownList("CountryOfOrigin", null, new { htmlAttributes = new { placeholder = "Country of Origin" } })
                                    @*   <input aria-label="Last Name" type="text" name="last_name" placeholder="Enter your last name">*@
                                </fieldset>
                                <fieldset class="name">
                                    <legend style="position: absolute;left: -999em;">Date of Enrollment</legend>
                                    <label>
                                        Date of Enrollment
                                        <sup>*</sup>
                                    </label>
                                    <input type="text" name="DateOfEnrollment" id="user-select-date" placeholder="Choose date of enrollment" data-select="datepicker">
                                    @*   <input aria-label="Last Name" type="text" name="last_name" placeholder="Enter your last name">*@
                                </fieldset>
                                <fieldset class="name">
                                    <legend style="position: absolute;left: -999em;">Date of Completion</legend>
                                    <label>
                                        Date of Completion
                                        <sup>*</sup>
                                    </label>
                                    <input type="text" name="DateOfCompletion" id="user-select-date" placeholder="Choose date of completion" data-select="datepicker">
                                    @*   <input aria-label="Last Name" type="text" name="last_name" placeholder="Enter your last name">*@
                                </fieldset>
                                <fieldset class="name">
                                    <legend style="position: absolute;left: -999em;">Program Enrolled</legend>
                                    <label>
                                        Program Enrolled
                                        <sup>*</sup>
                                    </label>
                                    @Html.EditorFor(model => model.Faculty.Program, new { htmlAttributes = new { placeholder = "Enter enrolled program" } })
                                    @*   <input aria-label="Last Name" type="text" name="last_name" placeholder="Enter your last name">*@
                                </fieldset>
                                <fieldset class="name">
                                    <legend style="position: absolute;left: -999em;">Program Enrolled</legend>
                                    <label>
                                        Program Enrolled
                                        <sup>*</sup>
                                    </label>
                                    @*   @Html.EditorFor(model => model.Faculty.Semseter, new { htmlAttributes = new { placeholder = "Enter enrolled semester" } })*@
                                    @*   <input aria-label="Last Name" type="text" name="last_name" placeholder="Enter your last name">*@
                                </fieldset>
                                <fieldset class="name">
                                    <legend style="position: absolute;left: -999em;">English Level</legend>
                                    <label>
                                        English Level
                                        <sup>*</sup>
                                    </label>
                                    @Html.DropDownList("EnglishLevel", null, new { htmlAttributes = new { placeholder = "Choose english level" } })
                                    @*   <input aria-label="Last Name" type="text" name="last_name" placeholder="Enter your last name">*@
                                </fieldset>
                                <fieldset class="name">
                                    <legend style="position: absolute;left: -999em;">University Name</legend>
                                    <label>
                                        University Name
                                        <sup>*</sup>
                                    </label>
                                    <input aria-label="University" type="text" name="last_name" value="@Model.Faculty.Name" disabled>
                                </fieldset>
                                <fieldset class="name">
                                    <legend style="position: absolute;left: -999em;">University Country</legend>
                                    <label>
                                        University Country
                                        <sup>*</sup>
                                    </label>
                                    <input aria-label="University Country" type="text" name="last_name" value="@Model.Faculty.CountryObj.Name" disabled>
                                </fieldset>
                                <fieldset class="name">
                                    <legend style="position: absolute;left: -999em;">University Region</legend>
                                    <label>
                                        University Region
                                        <sup>*</sup>
                                    </label>
                                    <input aria-label="School Region" type="text" name="last_name" value="@Model.Faculty.CountryObj.RegionObj.Name" disabled>
                                </fieldset>
                                <fieldset class="name">
                                    <legend style="position: absolute;left: -999em;">Accreditation Number</legend>
                                    <label>
                                        Accreditation Number
                                        <sup>*</sup>
                                    </label>
                                    <input aria-label="School Region" type="text" name="last_name" value="@Model.Faculty.AccreditationNumber" disabled>
                                </fieldset>
                                <fieldset class="name">
                                    <legend style="position: absolute;left: -999em;">Agreement Number</legend>
                                    <label>
                                        Agreement Number
                                        <sup>*</sup>
                                    </label>
                                    <input aria-label="School Region" type="text" name="last_name" value="@Model.Faculty.AgreementNumber" disabled>
                                </fieldset>
                                <fieldset class="name">
                                    <legend style="position: absolute;left: -999em;">Agreement Number</legend>
                                    <label>
                                        Uploaded CV
                                        <sup>*</sup>
                                    </label>
                                    <div>
                                        @Html.TextBox("CV", "", new { type = "file" }) <br />
                                    </div>
                                    @* <input aria-label="School Region" type="file" name="CV">*@
                                </fieldset>
                            </section>

                            <input type="hidden" name="register" value="1">
                            <button type="submit" class="primary" id="new-account-button">Send my application</button>
                        }
                        <em><sup>*</sup>Required field</em>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#applyBtn").click(function () {
            $('html,body').animate({
                scrollTop: $(".app-form").offset().top
            }, 'slow');
        });
    </script>
    <script>
    var url = '@Url.Action("getCountries", "Home")';
    var countries = $('#CountryId');
        function CallChangeFunc(val) {
        countries.empty();
            var id = val;
            $.getJSON(url, { regionId: id }, function (response) {
                $.each(response, function (index, item) {
                    $('#CountryId').append('<option value=' + item.ID + '>' + item.Name + '</option > ');
                });
            });

    }
    </script>
}



