
@{
    ViewBag.Title = "Home Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div id="hp-main" style="margin-top: 30px;">
    <div class="interior site">
        <div class="container">
            <div class="pageLinks" style="margin-left:75px">
                <a href="@Url.Action("Index", "Faculties")">
                    <div class="pageLink one">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pageLinks-inner">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="pageLink-img one"><img src="~/Content/images/School.png" style="border-width: 0px; border-style: solid;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pageLink-link">Colleges / Universities</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </a>
                @*<a href="@Url.Action("Index", "Semesters")">
                    <div class="pageLink two">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pageLinks-inner">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="pageLink-img two"><img src="~/Content/images/Semester.png" style="border-width: 0px; border-style: solid;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pageLink-link">Semesters</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </a>*@
                <a href="@Url.Action("Index", "NomSchoolYears")">
                    <div class="pageLink three">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pageLinks-inner">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="pageLink-img three"><img src="~/Content/images/School-Year.png" style="border-width: 0px; border-style: solid;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pageLink-link">School Years</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </a>
                <a href="@Url.Action("Index", "Subjects")">
                    <div class="pageLink four">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pageLinks-inner">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="pageLink-img four"><img src="~/Content/images/Subjects.png" style="border-width: 0px; border-style: solid;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pageLink-link">Courses</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </a>
                <a href="@Url.Action("Index", "NomCountries")">
                    <div class="pageLink five">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pageLinks-inner">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="pageLink-img five"><img src="~/Content/images/Countries.png" style="border-width: 0px; border-style: solid;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pageLink-link">Countries /  States</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </a>
                <a href="@Url.Action("Index", "NomRegions")">
                    <div class="pageLink six">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pageLinks-inner">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="pageLink-img six"><img src="~/Content/images/Regions.png" style="border-width: 0px; border-style: solid;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pageLink-link">Regions</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </a>
            </div>
        </div>
        <div class="container" style="margin-top:5px">
            <div class="pageLinks">
                <a href="@Url.Action("Index", "NomNationalities")">
                    <div class="pageLink one" style="margin-left:75px">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pageLinks-inner">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="pageLink-img one"><img src="~/Content/images/Nationalities.png" style="border-width: 0px; border-style: solid;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pageLink-link">Nationalities</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </a>
                <a href="@Url.Action("Index", "NomEnglishLevels")">
                    <div class="pageLink two">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pageLinks-inner">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="pageLink-img two"><img src="~/Content/images/EnglishLevel.png" style="border-width: 0px; border-style: solid;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pageLink-link">English Levels</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </a>
                <a href="@Url.Action("Index", "NomDegreeLevels")">
                    <div class="pageLink three">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pageLinks-inner">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="pageLink-img three"><img src="~/Content/images/Degree.png" style="border-width: 0px; border-style: solid;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pageLink-link">Degree Levels</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </a>
                <a href="@Url.Action("Index", "NomApplicantHighestDegrees")">
                    <div class="pageLink four">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pageLinks-inner">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="pageLink-img four"><img src="~/Content/images/Highest-Degree.png" style="border-width: 0px; border-style: solid;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pageLink-link">Highest Degrees</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </a>
                <a href="@Url.Action("Index", "NomTypeOfExchanges")">
                    <div class="pageLink five">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pageLinks-inner">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="pageLink-img five"><img src="~/Content/images/Types-Of-exchange.png" style="border-width: 0px; border-style: solid;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pageLink-link">Types of Exchange</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>