<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<header id="header" class="header sticky--header">
            <!-- Header Top Area -->
            <div class="header__top bg--blue">
                <div class="container">
                    <div class="header__top__inner">
                        <ul class="header__top__info">
                            <li>
                                <a href="#">
                                    <i class="flaticon-old-typical-phone"></i> 01354 568 787
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-black-back-closed-envelope-shape"></i> info@info.com
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header__bottom bg--white">
                <div class="container d-none d-lg-block">
                    <div class="header__bottom__inner">
                        <div class="header__logo">
                            <a href="http://www.acbsp.org/">
                                <img src="~/Content/css/images/logo_small.png" alt="header logo">
                            </a>
                        </div>

                        <!-- Main Navigation -->
                        <nav id="main-navigation" class="header__menu main-navigation" style="display: block;">
                            <ul>
                                <li class="cr-dropdown">
                                    <a> EDUCATION </a>
                                    <ul class="cr-dropdown-menu">
                                        <li><a href="@Url.Action("Index", "Faculties")"> Faculties </a></li>
                                        <li><a href="@Url.Action("Index", "Semesters")"> Semesters </a></li>
                                        <li><a href="@Url.Action("Index", "NomSchoolYears")"> School years </a></li>
                                        <li><a href="@Url.Action("Index", "Subjects")"> Subjects </a></li>
                                    </ul>
                                </li>
                                <li class="cr-dropdown">
                                    <a> INTERNATIONAL </a>
                                    <ul class="cr-dropdown-menu">
                                        <li><a href="@Url.Action("Index", "NomCountries")"> Countries </a></li>
                                        <li><a href="@Url.Action("Index", "NomRegions")"> Regions </a></li>
                                        <li><a href="@Url.Action("Index", "NomNationalities")"> Nationalities </a></li>
                                    </ul>
                                </li>
                                <li class="cr-dropdown">
                                    <a> ABOUT APPLICANTS </a>
                                    <ul class="cr-dropdown-menu">
                                        <li><a href="@Url.Action("Index", "NomEnglishLevels")"> English levels </a></li>
                                        <li><a href="@Url.Action("Index", "NomDegreeLevels")"> Degree levels </a></li>
                                        <li><a href="@Url.Action("Index", "NomAplicantHighestDegrees")"> Highest degrees </a></li>
                                        <li><a href="@Url.Action("Index", "NomTypeOfExchanges")"> Types of exchange </a></li>

                                    </ul>
                                </li>
                            </ul>
                        </nav><!--// Main Navigation -->

                    </div>
                </div>

            </div>
        </header>*@

    <header id="header" class="header super">



        <div id="header-content" class="header-content site clearfix">

            <a id="logo" href="http://www.acbsp.org">

                <img alt="Accreditation Council for Business Schools and Programs" src="~/Content/css/images/logo-22669.png">
            </a>



            <nav id="menu" role="navigation" aria-label="Navigation">
                <a id="nav-trigger"><i class="fa fa-bars"></i></a>
                <ul class="clearfix">
                    <li>
                        <a class="mobile-hide">Employers</a>
                        <ul class="sub-navigation">
                            <li class="collapse">Employers</li>

                            <li><a href="/employer/pricing/">Products</a></li>

                            <li><a href="/employer/post/">Post a Job</a></li>

                            <li><a href="/employer/my-account/">My Account</a></li>

                            <li><a href="/employer/my-jobs/">My Jobs</a></li>

                            <li><a href="/employer/clients/">My Clients</a></li>

                            <li><a href="/employer/resumes/bank/">Résumé Bank</a></li>

                            <li><a href="/employer/candidates/">My Candidates</a></li>

                            <li><a href="/employer/company/">My Company</a></li>

                            <li><a href="/employer/templates/">My Templates</a></li>

                            <li><a href="/employer/help/">Help</a></li>

                        </ul>
                    </li>
                    <li>
                        <a class="mobile-hide">Job Seekers</a>
                        <ul class="sub-navigation">
                            <li class="collapse">Job Seekers</li>

                            <li><a href="/jobseeker/my-account/">My Account</a></li>

                            <li><a href="/jobseeker/search/">Job Search</a></li>

                            <li><a href="/jobseeker/resumes/">Manage Résumés</a></li>

                            <li><a href="/jobseeker/job-alerts/">Job Alerts</a></li>

                            <li><a href="/jobseeker/resources/">Resources</a></li>

                            <li><a href="/jobseeker/help/">Help</a></li>

                        </ul>
                    </li>
                    <li class="sign-in">
                        <a class="mobile-hide">Sign-in or Create Account</a>
                        <ul class="sub-navigation">
                            <li class="collapse">Sign-in or Create Account</li>
                            <li><a href="/employer/login?site_id=22669">Employer</a></li>
                            <li><a href="/jobseeker/login?site_id=22669">Job Seeker</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
            <div class="translator-tool-header"></div>
        </div>
    </header>

    <div>
        @RenderBody()

    </div>
    <footer id="footer" class="footer site" role="contentinfo" aria-label="Content Info">

        @*<div class="powered-by site clearfix">

            <span class="dotted-rule"></span> <a href="http://www.yourmembership.com/products/career-center/" rel="nofollow">Job sites powered by <img src="/headers/cc/responsive/img/logo-powered-by.png" alt="YourMembership Logo"></a>

        </div>*@

        <div class="footer-content clearfix">

            <div class="footer-content-inner site">

                <div class="footer-nav">
                    <div>
                        <ul>
                            <li> <a href="https://careers.acbsp.org/sitemap/">Site Map</a> </li>
                            <li> <a href="https://careers.acbsp.org/jobseeker/terms/">Terms of Use</a> </li>
                            <li> <a href="https://careers.acbsp.org/jobseeker/privacy/">Privacy Policy</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="copyright-contact center">
                    <p class="copyright">
                        © 2018 Accreditation Council for Business Schools and Programs. All Rights Reserved.
                    </p>
                    <p>
                        <b class="address-1">11520 West 19th Street, </b>
                        <b class="address-2"></b>
                        <b class="city-state-zip">
                            Overland Park,
                            KS 66213
                        </b>


                        <b class="phone">
                            (913) 339-9356
                        </b>
                    </p>
                </div>
                <div class="social-media clearfix">
                    <ul>
                        <li><a aria-label="Facebook" href="http://www.facebook.com/acbsp" target="_blank" class="facebook-icon"><span class="fa fa-facebook"></span></a></li>
                        <li><a aria-label="Linkedin" href="http://www.acbsp.org/linkedin" target="_blank" class="linkedin-icon"><span class="fa fa-linkedin"></span></a></li>
                        <li><a aria-label="Twitter" href="http://www.twitter.com/acbspaccredited" target="_blank" class="twitter-icon"><span class="fa fa-twitter"></span></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/toastr")
    @Html.Partial("_Toastr")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
