<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header id="header" class="header super">
        <div id="header-content" class="header-content site clearfix">
            <a id="logo" href="http://www.acbsp.org">
                <img alt="Accreditation Council for Business Schools and Programs" src="~/Content/css/images/logo-22669.png">
            </a>
            <nav id="menu" role="navigation" aria-label="Navigation">
                <a id="nav-trigger"><i class="fa fa-bars"></i></a>
                <ul class="clearfix">
                    <li class="nav-student">
                        <a href="@Url.Action("Index", "Home", new { flag = (@ViewBag.LinkToOther == "Faculty" ? 1 : 0) })" class="mobile-hide">@ViewBag.LinkToOther</a>
                    </li>
                </ul>
            </nav>
            <div class="translator-tool-header"></div>
        </div>
    </header>

    <div>
        @RenderBody()

    </div>
    <footer id="footer" class="footer site" role="contentinfo" aria-label="Content Info">
        <div class="footer-content clearfix">
            <div class="footer-content-inner site">
                <div class="footer-nav">
                    <div>
                        <ul>
                            <li> <a href="https://careers.acbsp.org/sitemap/">Site Map</a> </li>
                            <li> <a href="https://careers.acbsp.org/jobseeker/terms/">Terms of Use</a> </li>
                            <li> <a href="https://careers.acbsp.org/jobseeker/privacy/">Privacy Policy</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="copyright-contact center">
                    <p class="copyright">
                        © 2018 Accreditation Council for Business Schools and Programs. All Rights Reserved.
                    </p>
                    <p>
                        <b class="address-1">11520 West 19th Street, </b>
                        <b class="address-2"></b>
                        <b class="city-state-zip">
                            Overland Park,
                            KS 66213
                        </b>
                        <b class="phone">
                            (913) 339-9356
                        </b>
                    </p>
                </div>
                <div class="social-media clearfix">
                    <ul>
                        <li><a aria-label="Facebook" href="http://www.facebook.com/acbsp" target="_blank" class="facebook-icon"><span class="fa fa-facebook"></span></a></li>
                        <li><a aria-label="Linkedin" href="http://www.acbsp.org/linkedin" target="_blank" class="linkedin-icon"><span class="fa fa-linkedin"></span></a></li>
                        <li><a aria-label="Twitter" href="http://www.twitter.com/acbspaccredited" target="_blank" class="twitter-icon"><span class="fa fa-twitter"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/toastr")
    @Html.Partial("_Toastr")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

@*@section scripts {
        <script>
            $(document).ready(function () {
                debugger;
                if (window.location.href.indexOf("Student") > -1) {
                    $(".nav-student").css({ background: "#eaf0f4" });
                } else {
                    $(".nav-student").css({ background: "white" });
                }

                if (window.location.href.indexOf("Faculty") > -1) {
                    $(".nav-student").css({ background: "#eaf0f4" });
                } else {
                    $(".nav-student").css({ background: "white" });
                }
            });
        </script>
    }*@



